.THIS .outer-div {
    position: relative;
}

.THIS .spinner2 {
   position: absolute;
}
.THIS lightning-spinner.spinner2.slds-spinner_container {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.THIS .spinner2::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}