.icon-container .selected {
    /* Define your desired styles for the selected or highlighted state */
    /* For example, you can change the background color, add a border, etc. */
    background-color: #f8f8f8;
    border: 1px solid #000;
}
.slds-size_1-of-5{
width: auto;
height: auto;

}
.header-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -13px;
    background-color: white;
}
.SpinnerHolder{
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2400px;
    left: 0;
}

.pointCheckForm{
    background: #fff;
    width: 80%;
    margin: 0 auto;
}
.fieldHeader{
    display: block;
    font-size: 10px;
    color: #5b6dad;
    font-weight: 600;
}
.pointCheckForm p{
    font-size: 12px;
    font-weight: 600;
}
.pointCheckForm{
    border-bottom:2px solid #f0f0f0 ;
    padding: 0.75rem;
}
.pointCheckForm .slds-box{
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0;
}
.dataSection label{
        width: 145px;
    display: inline-block; 
    vertical-align: top;
}
.dataSection div{
    display: inline-block;
}
h3.formHeader{
    font-size: 1.5rem;;
}
.greenIcon button.slds-button.slds-button_icon.slds-button_icon-border.slds-is-selected {
    background: #21873e !important;
}
.sldsicons.picUpload{
    position: relative;
}
.sldsicons.picUpload .uploadImg{
    width: 48px;
    position: absolute;
    top: 48px;
    left: 46%;
    cursor: pointer;
}
.gallery {
width: 100%;
position: relative;
display: flex;
gap: 1rem;
overflow: auto;
scroll-snap-type: x mandatory;
margin-bottom: 1rem;
}

.gallery1 div {
width: 100%;
position: relative;
flex-shrink: 0;
object-fit: cover;
scroll-snap-align: start;
}
.gallery1 {
width: 100%;
position: relative;
display: flex !important;
gap: 1rem;
overflow: auto;
scroll-snap-type: x mandatory;
margin-bottom: 1rem;
}

.gallery div {
width: 33.33%;
position: relative;
flex-shrink: 0;
object-fit: cover;
scroll-snap-align: start;
}

@media only screen and (max-width:992px){
.pointCheckForm{
width: 95%;
}
}
@media only screen and (max-width:480px){
.pointCheckForm{
width: 100%;
padding: 0.5rem !important;  
}
.dataSection label{
    width: 125px;
}
.dataSection div{
    padding: 0;
}
}