.THIS .serchboxtab{
    display: inline-block;
    float: right;   
    margin: 1rem;
}
.THIS .serchboxtab .slds-input , .THIS .serchboxtab .slds-input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #989898;
    border-radius: 0px;
    outline: none;
    color: #989898;
    box-shadow:none;
    padding: 0 2rem;
}
.THIS .serchboxtab .slds-form-element__label{
    display:none;
}
.THIS .serchboxtab_AR{
    display: inline-block;
    float: right;   
    margin: 1rem;
}
.THIS .serchboxtab_AR .slds-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #989898;
    border-radius: 0px;
    outline: none;
    color: #989898;
    box-shadow:none;
    direction:rtl;
}
.THIS .serchboxtab .slds-input::-webkit-input-placeholder { /* Edge */
    color:  #989898;
}

.THIS .serchboxtab .slds-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #989898;
}

.THIS .serchboxtab .slds-input::placeholder {
    color:  #989898;
}
.THIS .serchboxtab .slds-button_icon{
    color: #989898!important;
}
.THIS .serchboxtab .slds-input-has-icon .slds-input__icon {
    width: 1rem;
    height: 1rem;
    fill: #989898;
    left:0px;
}
.THIS.casesupmaindiv{
    /*min-height:86.2vh;*/
    min-height:calc(100vh - 86px);
    height:100%;
}
.THIS .mybussinessdiv{
    padding:0px;
    position: relative;
    display: block;
    clear: both;
    margin-top:3rem;
}
.THIS .actionButton {
    background-color: #624500;
    color: white;
    border: 1px solid #624500;
    box-shadow: none;
    font-size: 14px;
    transition:0.4s;
    line-height: 18px;
    padding: 5px 10px;
}
.THIS .tableClass{
    min-height:50px;
    overflow:auto;
    width: 100%;
    position: relative;
    max-height: 320px;
}
.THIS .tableClass2{
    min-height:50px;
    overflow:auto;
    width: 100%;
    position: relative;
    max-height: 320px;
}
.THIS .actionButton:hover {
    background-color: #fff;
    color: #624500;
    border: 1px solid #624500;
    box-shadow: none;
    transition:0.4s;
}
.THIS .downloadButton {
    background-color: transparent;
    color: #000;
    float: right;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 16px;
    transition: .4s;
    line-height: 18px;
    white-space: inherit;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    padding: 0px;
    margin-right: 1rem;
}
.THIS .downloadicon{
    float: right;
    margin-top: -7px;
}
.THIS .emmergencyButton {
    background-color: transparent;
    color: #000;
    float: right;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 16px;
    transition: .4s;
    line-height: 18px;
    white-space: inherit;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    padding: 0px;
    margin-right: 1rem;
}
.THIS .maincantentdiv{
    padding: 15px;
    overflow: auto;
}
.THIS .Headingcontent{
    font-size: 18px;
    color: rgb(98 204 140);
    text-transform: uppercase;
    text-align: left;
    /* padding-bottom: 8px; */
    /* padding-top: 8px; */
    display: inline-block;
    padding-left:1rem;
    float: left;
}
.THIS .subheading{
    font-size: 14px;
    font-weight: 600;
}
.THIS .slds-gutters .slds-col {
    padding-right: 0rem;
    padding-left: 0rem;
    width: 50%;
    padding-bottom: .50rem;
}
.THIS .textColor {
    color:  #624500;font-size: 14px; /* #8a1538; */
}
.THIS table {
    width: 100%;
}
.THIS table tr th {
    text-align: center;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid rgb(98 204 140);
    font-size: 14px;
    font-weight: 600;
    background-color: #fff!important;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-top: 1px solid #f1f1f1;
}
.THIS .slds-datepicker thead > tr > th {
    position: relative;
    top: auto;
}
.THIS table tr td {
    text-align: center;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color:black;
}
.THIS table tr td a {
    color: #62cc8c !important;
}
.THIS input[type=text], .THIS input[type=password], .THIS textarea, .THIS textarea.form-control, .THIS select, 
.THIS input[type=tel], .THIS input[type=email] , .THIS .uiInput--default input , .THIS .slds-input , .THIS .slds-input:focus{
    height: 38px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid #ddd;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    color: #888;
    border-radius: 4px;
    box-shadow: none;
    transition: all .3s;
    box-shadow:none;
}
.THIS .slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding-right: .5rem;
    padding-top: 0;
    margin-bottom: 5px;font-weight: normal;
}
.THIS.documenttable , .THIS.documentmain{
    /* padding: 30px;
    background: #fafafa;
    border:4px solid #fff;*/
}
.THIS.documenttable table {
    width: 100%;
    border: 1px solid #ddd;
}
.THIS.documenttable table tr th {
    text-align: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;font-size: 14px;
    font-weight: 600;    text-transform: uppercase;
    background:#f1f1f6;
}
.THIS .documenttable table tr td {
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
}

.THIS.uiInput--default .form-element__label , .THIS .form-element__label{
    font-size: 14px;
    padding-right: .5rem;
    padding-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}
.THIS.uiInput--datetime .form-element , .THIS .uiInput--default input{
    position: relative;
    margin-top: 5px!important;
}
.THIS .uiInput--datetime .datePicker-openIcon {
    bottom: 14px!important;
}

/* css for custom dashboard component*/
.THIS .form-box-row2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    position: relative;
    background-color: transparent;
    background: transparent;
    opacity: 1;
    height: 80px;
    transition:.4s all;
    overflow: hidden;
}
.THIS .leftsectiondiv{
    display: inline-block;
    width: 30%;
    float:left;
    border-right: 1px solid #ececec;
    height: 100%;
}
.THIS .leftsectiondiv img{
    padding: .5rem;
}

.THIS .rightsectiondiv{
    display: inline-block;
    width: 70%;
    float: left;
    height: 100%;
    background: transparent;
}
.THIS .form-title{
    color: #949494;
    text-align: center;
    text-transform: none;
    font-size: 10px;
}

.THIS .numberSize{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px; 
    padding-bottom: 5px;
}

.THIS .slds-card {
    background:transparent;
    border: 0px solid #E0E0E0;
}
.THIS .mybussinessdiv .slds-card .slds-col{
    width: 16%;
    display: inline-block;
    margin: 0% .6% 1% .0%;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 8px 6px -6px #9c9c9c;
}
.THIS .tableshow{
    position: relative;
    clear: both;
    padding: 1rem 0rem;
    margin: 1rem .5rem;
    background: #fff;
    border-radius: 10px;
    overflow: auto;
}




.THIS .uploadbtn .slds-form-element__label{
    display:none;
}
.THIS .viewmore_agree{
    padding: 1rem 0;
    margin: 0rem .3rem;
    background: #fff;
    border-radius: 10px;
}
.THIS .viewmore_agree .slds-col {
    padding-bottom: 0rem;
}
.THIS .maincantentdiv .slds-button_icon ,
.THIS .maincantentdiv .slds-button__icon{
    fill: #eb4026;
    border: none;
    outline: none;
    box-shadow: none;
}
.THIS .maincantentdiv .divider{
    padding: 0rem .5rem;
}
.THIS.more_action_popup .slds-p-around--medium{
    padding:0px!important;
}
.THIS.more_action_popup .heading_btn{
    padding: 1rem;
    border-bottom: 1px solid rgb(98 204 140);
    text-align: center;
}
.THIS.more_action_popup .heading_btn .slds-button_brand{
    margin:0rem 3rem;
    background: transparent;
    color: #000;
    border: none;
    padding: 0px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
}
.THIS.more_action_popup .heading_btn .slds-button_brand:hover{
    border-bottom: 2px solid #eb4026;
}
.THIS.more_action_popup .slds-modal__header{
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.THIS.more_action_popup .slds-modal__footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.THIS.more_action_popup .popup_content{
    padding: 1rem;
}
.THIS.more_action_popup .popup_content .slds-form-element{
    margin-bottom:10px;
}
.THIS.more_action_popup .popup_content .slds-form-element__label{
    color: rgb(0 0 0);
}
.THIS.more_action_popup .btn_save{
    background: rgb(98 204 140);
    border: 1px solid rgb(98 204 140);
    color:#fff;
    border-radius: 0px;
    box-shadow: none;
    text-transform: uppercase;
    transition: all 0.4s;
}
.THIS.more_action_popup .btn_save:hover{
    background: #fff;
    border: 1px solid rgb(98 204 140);
    color:rgb(98 204 140);
}
.THIS.more_action_popup .btn_close , .THIS .btn_close{
    background: #fff;
    border: 1px solid rgb(98 204 140);
    color:rgb(98 204 140);
    border-radius: 0px;
    box-shadow: none;
    text-transform: uppercase;
    transition: all 0.4s;
}
.THIS.more_action_popup .btn_close:hover , .THIS .btn_close:hover{
    background: rgb(98 204 140);
    border: 1px solid rgb(98 204 140);
    color:#fff;
}
.THIS .viewmore_agree .slds-file-selector__button{
    font-size: 0px;
    padding: 0px 10px;
    text-align: center;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
}
.THIS .slds-file-selector__button{
    cursor: pointer;
}
.THIS .slds-file-selector__button svg{
    fill: #eb4026;cursor: pointer;
}
.THIS .slds-file-selector__button:hover svg{
    fill: #eb4026;
}

.THIS.pageBgImg{    
    background-image: url(/resource/insuranceBgImg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: auto;
}
.THIS .tabdashdetail .slds-tabs_default__nav{
    display: none;
}


@media only screen and (max-width: 1024px){
    .THIS .leftsectiondiv img {
        padding: 1rem 0rem;
    }
    .THIS .form-title {
        padding: 0rem .5rem;
    }
    .THIS .numberSize {
        font-size: 24px;
    }
}
@media only screen and (max-width: 992px){
    .THIS .menudiv {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .THIS .rightsectiondiv {
        padding: 0rem;
    }
    .THIS .slds-card .slds-col {
        width: 19%;
        margin: 0% 1% 1% 0%;
    }
    .THIS .form-box-row2 {
        height: auto;
    }
    .THIS .form-box-row2 {
        height: 115px;
    }
    .THIS .leftsectiondiv {
        width: 100%;
        border-right: 0px solid #ececec;
        height: auto;
        text-align: center;
    }
    .THIS .leftsectiondiv img {
        padding: 0rem 0;
        width: 32px;
    }
    .THIS .rightsectiondiv {
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .THIS.casesupmaindiv {
        min-height: calc(100vh - 80px);
    }
    .THIS .tableshow {
        margin: 0rem;
    }
    .THIS .rightsectiondiv {
        padding: 0rem
    }
    .THIS .form-title {
        padding: 0rem;
    }
    .THIS .form-box-row2 {
        height: 110px;
    }
    .THIS .slds-grid{
        display:block;
    }
    .THIS .slds-gutters .slds-col {
        padding-right: .75rem;
        padding-left: .75rem;
        width: 100%;
        padding-bottom: .50rem;
    }
    .THIS .viewmore_agree {
        margin: 0rem;
    }
    .THIS .slds-modal__container {
        margin: auto;
    }
}
@media only screen and (max-width: 480px) {
    .THIS .slds-card .slds-col {
        width: 48%;
        display: inline-block;
        margin: 0% 1% 2% 1%;
    }
    .THIS .form-box-row2 {
        height: 95px;
    }
    .THIS .slds-grid{
        display:block;
    }
    .THIS .slds-gutters .slds-col {
        padding-right: .75rem;
        padding-left: .75rem;
        width: 100%;
        padding-bottom: .50rem;
    }
    .THIS .Headingcontent {
        font-size: 16px;
        color: rgb(60 60 60);
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .THIS .downloadButton{
        font-size: 16px;
    }
    .THIS .serchboxtab {
        margin: 1rem 0rem;
        width: 100%;
    }
}