/*@font-face {
font-family: 'Cronos';
src: url(/resource/ETI_Cronos); 
}
.THIS {
font-family: 'Cronos';
letter-spacing: .5px;
}*/
.THIS.bgimage{
    background-image: url(/resource/background_img);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    height: Calc(100vh - 0px);
    overflow: auto;
}
.THIS.bgetimgdiv {
    /*background-image: url(/resource/ETI_bgimg);
    background-size: cover;
    background-position: center;*/
    height: 100%;
    position: relative;
    padding: 20px;
    padding-top: 10px;
    /* background:#393536;*/
}

.THIS .btn_table {
    font-size: 14px;
    margin-left: 10px;
    border: 0 solid #00c19e;
    color: #fff;
    min-width: 100px;
    padding: 0 10px;
    width:auto!important;
    height: 30px;
    background-color: #eb4026;
    border-radius: 5px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
}
.THIS .btn_table:hover {
    background-color: #333333;
}
.THIS .btn_back {
    font-size: 14px;
    margin-left: 10px;
    border: 0 solid #00c19e;
    color: #fff;
    padding: 0 10px;
    min-width: 100px;
    height: 30px;
    background-color: #b0b1af;
    border-radius: 5px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
}
.THIS .btn_back:hover {
    background-color: #333333;
}
.THIS .slds-input {
    width: 100%;
    margin-bottom: 0;
    height: 40px;
    border-radius: 0;
    background-color: #f1f1f1;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0 10px 0 10px;
    background: transparent;
    border-bottom: 1px solid #636363;
    color: #000;
}
.THIS .dropdownlistveh select {
    width: 100%;
    margin-bottom: 0;
    height: 40px;
    border-radius: 0;
    background-color: #f1f1f1;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0 30px 0 10px;
    background: transparent;
    border-bottom: 1px solid #636363;
    color: #000;
}
.THIS .dropdownlistveh .slds-select_container:after {
    border-top: 5px solid #000;
    bottom: calc((1.75rem / 2) - -1px);
}
.THIS .dropdownlistveh .slds-select_container:before {
    display:none;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .slds-input:focus ,  .THIS select:focus{
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #636363;
    box-shadow: none;
}
.THIS.centerdiv{
    padding: 4.7% 0% 8%;
}
.THIS .slds-button__icon {
    width: .875rem;
    height: .875rem;
    /*fill: #fff!important;*/
}
.THIS .padbottom{
    padding-bottom:0px;padding-top: 0px;
}

.THIS .Drop-Address-listbox{
    position: relative;
    margin-top: -12px;
}
.THIS .btnsave{
    font-size: 14px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    border: 0px solid #00c19e;
    color: #fff;
    padding: 5px 20px;
    min-width: 100px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #ff4b5a;
    border-color: #ff4b5a;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    /*font-family: 'Cronos';*/
    outline: none;
    box-shadow: none;
    
}
.THIS .btnsave:hover{
    background-color: #14181c;
    border-color: #14181c;
    border: 0px solid #00c19e;
}

.THIS .caption-title{
    /*font-family: 'Cronos';*/
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
    color: #ffffff;
    clear: both;
    display: inline-block;
    text-transform: uppercase;
    margin: 15px 0 15px 0;
    width: 100%;
    text-align: center;
}
.THIS .caption-subtitle {
    /*font-family: 'Cronos';*/
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 40px 0;
    width: 100%;
    text-align: center;
}
.THIS .mainsearchdiv{
    text-align: left;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
.THIS .mainsearchdivnew{
    text-align: left;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    border: 0px solid rgba(20, 24, 28, 0.6);
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
    padding: 0rem;
    background: transparent;
    padding-bottom: 3rem;
}
.THIS .mainsearchdivnew .slds-col {
    padding-right: .75rem;
    padding-left: .75rem;
    width: 50%!important;
}
.THIS .slds-col {
    padding-right: .75rem;
    padding-left: .75rem;
    width: 50%!important;
}
.THIS .datepickdiv{
    padding-top: 0px;
    padding-bottom: 0px;
}
.THIS .datepickdiv .slds-form_compound .slds-form-element__row .slds-form-element__label, .THIS .datepickdiv .slds-form--compound .slds-form-element__row .slds-form-element__label {
    padding-top: 0;
    display: none;
}
.THIS .datepickdiv .slds-form_compound .slds-form-element__row .slds-form-element, .THIS .datepickdiv .slds-form--compound .slds-form-element__row .slds-form-element {
    margin-bottom: 0;
    width: 100%;
}
.THIS .datepickdiv .slds-form_compound .slds-form-element__row .slds-form-element+.slds-form-element, .THIS .datepickdiv .slds-form--compound .slds-form-element__row .slds-form-element+.slds-form-element {
    padding-left: 1.5rem;
    margin-top: 0;
}
.THIS  .slds-input__icon-group_right .slds-input__icon_right, .THIS .slds-input__icon-group_right .slds-input__icon--right {
    right: .5rem;
    margin-top: -11px;
}

.THIS.centerdiv .slds-form-element__label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
    /*font-family: 'Cronos';*/
    color: #ffffff;
}
.THIS.centerdiv .slds-form-element {
    position: relative;
    min-width: 0;
    outline: none;
}
.THIS .form-title{
    background: #14181c;
    color: #ffffff;
    padding: 16px;
    margin-bottom: 15px;
    position: relative;
}
.THIS .form-title h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    /*font-family: 'Cronos';*/
    color: #ffffff;
}
.THIS .slds-form_compound{
    outline: none;
}
.THIS .textright{
    text-align: right;
}
.THIS .slds-tabs_scoped__nav, .THIS .slds-tabs--scoped__nav {
    display: flex;
    align-items: flex-start;
    background-color: rgb(250, 250, 249);
    border: 0px solid rgb(212, 212, 212);
    border-radius: 0;
    background: transparent;
    color: #000000;
    float: right;
    clear: both;
    position: relative;
}
.THIS .slds-tabs_scoped__link , .THIS .slds-tabs--scoped__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    /*font-family: 'Cronos';*/
    letter-spacing: 0;
    color: #000;
    text-transform: uppercase;
    border-right: 0 solid transparent;
    border-bottom: 2px solid transparent;
    padding: 0;
    margin: 0 0 0 1rem;
}
.THIS .slds-is-active .slds-tabs_scoped__link , .THIS .slds-is-active .slds-tabs--scoped__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    color: #14181c!important;
    border-right: 0 solid transparent;
    text-decoration: none;
    background: transparent;
    border-bottom: 2px solid #eb4026;
    margin: 0 0 0 1rem;
}
.THIS .slds-tabs_scoped__content, .THIS .slds-tabs--scoped__content {
    border: 0 solid rgba(20, 24, 28, 0.6);
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
    padding: 1rem 0!important;
    background: rgba(20, 24, 28, 0);
    clear: both;
}
.THIS .slds-tabs_scoped__item:last-child {
    display: none!important;
}
.THIS .rightserachbtn {
    text-align: right;
    margin-top: 18px;
    padding-right: 0px;
}
.THIS .slds-card {
    position: relative;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: none;
}
.THIS .slds-form-element_horizontal:not([class*="slds-size"]){
    width:50%;
    display:inline-block;
    margin-bottom: 0px;
}
.THIS .slds-form-element_horizontal .slds-form-element{
    width:100%;
}
.THIS .slds-form-element_horizontal .slds-form-element__label , .THIS .slds-form-element_stacked .slds-form-element__label{
    float: none;
    font-weight: bold;
    color: #fff!important;
    /*font-family: 'Cronos';*/
    font-size: 14px;
    padding-bottom: 5px;
    max-width: 100%;
}
.THIS .slds-form-element_horizontal .slds-form-element__control{
    padding-left:0px;
}
.THIS .slds-float_right, .THIS .slds-float--right {
    float: right;
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    margin: 10px;
    text-align:right;
}
.THIS input[readonly][disabled] {
    background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}
.THIS .slds-card__header {
    padding: 0px;
    margin: 0px;
}
.THIS .slds-card__body {
    margin-top: 0px;
    margin-bottom: 0px;
}
.THIS .slds-text-heading_small, .THIS .slds-text-heading--small {
    font-size: 2rem;
    line-height: 1.25;
    color: #fff;
    /*font-family: 'Cronos';*/
}
.THIS .slds-form-element__label{
    float: none;
    font-weight: bold;
    color: #fff;
    /*font-family: 'Cronos';*/
    font-size: 14px;
    padding-bottom: 5px;
    max-width: 100%;
}
.THIS .slds-form-element{
    padding:.25rem;
}

@media only screen and (max-width: 1024px){
    .THIS.centerdiv {
        padding: 13% 0% 15%;
        height: 100%;
    }
}
@media only screen and (max-width: 768px){
    .THIS.centerdiv{
        padding: 35% 0% 37%;
        height: 92.5vh;
    }
    .THIS .caption-subtitle {
        font-size: 48px;
    }
    .THIS .mainsearchdiv {
        width: 90%;
    }
    .THIS .slds-input, .THIS select{
        padding: 0 5px 0 10px;max-width:100%!important;
    }
}
@media only screen and (max-width: 767px){
    .THIS.centerdiv{
        padding: 4% 0% 4%;
        height: 100%;
    }
    .THIS .mainsearchdivnew .slds-grid {
        display: block;
    }
    .THIS .mainsearchdivnew .slds-col {
        width: 100%!important;
    }
    .THIS .slds-grid {
        display: block;
    }
    .THIS .slds-col {
        width: 100%!important;
    }
}
@media only screen and (max-width: 480px){
    .THIS.bgimage{
        background-image: url(/resource/mobilebg_img);
        height: Calc(100vh - 0px);
    }
    .THIS.centerdiv{
        padding: 40% 0% 50%;
        height: 100%;
        height: 100vh;
    }
    .THIS .caption-subtitle {
        font-size: 32px;
    }
    .THIS .mainsearchdiv {
        width: 100%;
    }
    .THIS .caption-title {
        font-size: 16px;
    }
    .THIS .padbottom , .THIS .datepickdiv{
        width: 100%;
    }
    .THIS .form-title h2 {
        font-size: 16px;
    }
    .THIS .slds-input, .THIS select{
        padding: 0 5px 0 10px;
    }
    .THIS.centerdiv{
        padding: 15% 0% 15%;
        height: 100%;
        height: 100vh;
    }
    .THIS .slds-is-active .slds-tabs_scoped__link, .THIS .slds-is-active .slds-tabs--scoped__link {
        font-size: 14px;    padding: 0 7px;    margin: 0;
    }
    .THIS .slds-tabs_scoped__link, .THIS .slds-tabs--scoped__link {
        font-size: 14px;    padding: 0 7px; margin: 0;
    }
    .THIS.bgetimgdiv {
        padding: 1rem;
    }
    
    
    .THIS .mainsearchdiv .slds-tabs_scoped__item:last-child{
        display:none!important;
    }
    .THIS .slds-tabs_scoped__nav, .THIS .slds-tabs--scoped__nav {
        border-radius: 0;
        /*background: rgb(98 204 140)!important;*/
        color: #ffffff;
        width:100%;
    }
    .THIS .mainsearchdiv .slds-tabs_scoped__item{
        width: 50%;
        text-align: center;
    }
    .THIS .slds-tabs_scoped__content, .THIS .slds-tabs--scoped__content {
        border: 0px solid rgba(20, 24, 28, 0.6);
        border-radius: 0;
        padding: 0rem;
        background: transparent;
    }
    .THIS .infoDetail {
        background: none!important;
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: left;
    }
    .THIS .dropdownlistveh select , .THIS .slds-input{
        color: #5c5c5c!important;
        border-bottom: 1px solid #ccc!important;
    }
    .THIS .slds-col {
        max-width: 100%!important;
        width: 100%!important;
    }
    .THIS .slds-form-element__label{
        font-weight: normal!important;
    }
    .THIS .mainsearchdiv #bookingHistory{
        margin-top:0px;
    }
    .THIS .mainsearchdiv #bookingHistory .slds-grid {
        display: block!important;
        background: #62cc8c;
        position: relative;
        top: 5px;
    }
    .THIS .mainsearchdiv #bookingHistory .casesection {
        margin-top: 15px;
    }
    .THIS .mainsearchdiv #bookingHistory .custom-box {
        display: block;
        width: 99%;
    }
    .THIS .btn_table{
        color: #fff;
        background: #62cc8c;
        border: 1px solid #62cc8c;
        width: 50%!important;
    }
    .THIS .btnreqandsup .btn_table , .THIS .slds-float--right .btn_table {
        color: #fff;
        background: #62cc8c;
        border: 1px solid #62cc8c;
        min-width: 100px!important;
    }
    
    .THIS .btn_table:hover , .THIS .btn_table:active , .THIS .btn_table:focus{
        color: #62cc8c;
        background: #fff;
        border: 1px solid #62cc8c;
    }
    .THIS .btn_back{
        color: #62cc8c;
        background: #fff;
        border: 1px solid #62cc8c;
    }
    .THIS .btn_back:hover , .THIS .btn_back:active , .THIS .btn_back:focus{
        color: #fff;
        background: #62cc8c;
        border: 1px solid #62cc8c;
    }
}