.THIS .outer-div {
    position: relative;
}
.THIS .spinner2 {
   position: absolute;
}
.THIS .spinner2::after {
    position: absolute;
    content: 'Please wait...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}