.THIS{
    
}
.THIS .owl-carousel {
    display: block!important;
    width: 100%;
    z-index: 1;
}
.THIS .owl-carousel p.flex-text.text-muted {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: .5rem;
}
.THIS .owl-nav {
    display: none;
}
.THIS .owl-dots {
    margin-top: 0px;
    text-align: left;
    display: block;
}
.THIS .owl-dot {
    display: inline-block;
}
.THIS .owl-dots span {
    display: block;
    width: 18px;
    height: 6px;
    margin: 1px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}
.THIS .owl-dots .active span{    
    background: #fff;
    opacity: 1;
}