/*@font-face {
font-family: 'Cronos';
src: url(/resource/ETI_Cronos); 
}
.THIS {
font-family: 'Cronos';
letter-spacing: .5px;
}*/
.THIS.bgetimgdiv {
    /*background-image: url(/resource/ETI_bgimg);    
    background-size: cover;
    background-position: center;*/
    position: relative;
    height: 100%;
    padding: 20px 20px 0px;
    padding-top: 40px;
    margin-top: -16px;
    min-height: 87.6vh;
}
/*.THIS.bgetimgdiv:before{
background-color: rgba(0, 0, 0, 0.6);
content: '';
left: 0;
top: 0;
display: block;
height: 100%;
position: absolute;
width: 100%;
}*/
.THIS .caption-title{
    /*font-family: 'Cronos';*/
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
    color: #ffffff;
    clear: both;
    display: inline-block;
    text-transform: uppercase;
    margin: 15px 0 15px 0;
    width: 100%;
    text-align: center;
}
.THIS .caption-subtitle {
    /*font-family: 'Cronos';*/
    font-size: 65px;
    font-weight: 900;
    line-height: 1;
    /*text-transform: uppercase;*/
    color: #ffffff;
    margin: 0 0 40px 0;
    width: 100%;
    text-align: center;
}
.THIS .mainsearchdiv{
    text-align: left;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.THIS .btn_table {
    font-size: 14px;
    margin-left: 10px;
    border: 0 solid #00c19e;
    color: #fff;
    padding: 0 10px;
    min-width: 100px;
    height: 30px;
    background-color: #ff4b5a;
    border-radius: 0px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
}
.THIS .btn_table:hover {
    background-color: #333333;
}
.THIS .slds-tabs_scoped__nav, .THIS .slds-tabs--scoped__nav {
    display: flex;
    align-items: flex-start;
    background-color: rgb(250, 250, 249);
    border: 0px solid rgb(212, 212, 212);
    border-radius: .25rem .25rem 0 0;
    background: #806100;
    color: #ffffff;
}
.THIS .slds-tabs_scoped__link , .THIS .slds-tabs--scoped__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    /*font-family: 'Cronos';*/
    letter-spacing: 1px;
    color: #ffffff;
    border-right: 0px solid transparent;
    padding:0px 1rem;
}
.THIS .slds-is-active .slds-tabs_scoped__link , .THIS .slds-is-active .slds-tabs--scoped__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    /*font-family: 'Cronos';*/
    letter-spacing: 1px;
    color: #14181c!important;
    border-right: 0px solid transparent;
    text-decoration: none;
}
.THIS .slds-tabs_scoped__content, .THIS .slds-tabs--scoped__content {
    /* background-color: rgb(255, 255, 255); */
    border: 0px solid rgba(20, 24, 28, 0.6);
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
    padding: 1rem;
    background: rgba(20, 24, 28, 0.1);
}

.THIS h1.mainheading{
    font-size: 24px!important;
    display: inline-block;
    position: relative;
}
.THIS .content_div {
    border-bottom: 2px solid #f2f2f2;
    width:100%; position:relative;   
}
.THIS #Dashboard{
    padding:0px;
}
.THIS .btn_right{
    float: right;
}
.THIS .slds-m-around_xx-large, .THIS .slds-m-around--xx-large {
    margin: 0rem!important;
}
.THIS .textright{
    text-align:right;
}
.THIS .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border: none;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    
    font-family: inherit;
    font-size: 1em;
}
.THIS .toppadding{
    padding-top: 10px;
    width: 50%;    
    font-weight: 700
}


.THIS header, .THIS footer{
    background-color: #dbdada;
}
.THIS .greyBg{
    background: #fafafa;
}
.THIS label span, .THIS select{
    color: #616e74;	
}
.THIS select, .THIS input{
    border: 1px solid #2c8fbc;
}
.THIS .slds-card{
    background: transparent;
    border: none;
}
.THIS .slds-modal__header {
    position: relative;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom: 1px solid #f2f2f2;
    padding: 1rem;
    text-align: center;
    background-color: #fafafa!important;
}
.THIS .slds-text-heading_medium {
    margin: 0;
    color: #333;
    font-weight: 300!important;
    text-align: center;
    font-size: 16px;
    font-size: 26px;
    /*font-family: 'Cronos';*/
}
.THIS .modalFooter{
    background-color: #fafafa!important;
    border-top: 1px solid #f2f2f2;
}
.THIS .slds-modal__content {
    background-color: #fafafa!important;
}
.THIS .alertmessage{
    text-align: center;
    padding: 20px 0px;
    font-size: 16px;
    color: #000;
    font-family: 'Cronos';
    letter-spacing: .5px;
}



@media only screen and (max-width: 1024px) {
    .THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item {
        width: 24%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .THIS .slds-tabs_scoped__link, 
    .THIS .slds-tabs--scoped__link{
        text-align: center;
        padding: 0px 1rem;
    }
    .THIS .caption-subtitle {
        font-size: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item {
        width: 25%;
        text-align: center;
        padding: 5px;
    }
    .THIS .caption-subtitle {
        font-size: 34px;
    }
    .THIS .caption-title {
        font-size: 20px;
    }
    .THIS .slds-tabs_scoped__link, .THIS .slds-tabs--scoped__link {
        text-align: center;
        padding: 0 .5rem!important;
        font-size:12px!important;
    }
}
@media only screen and (max-width: 480px) {
    .THIS .slds-tabs_scoped__nav{
        display: inline!important;
    }
    .THIS .slds-tabs_scoped__item, .THIS .slds-tabs--scoped__item{
        width:50%;padding:0px;
        display: inline-block;
        text-align: center;
    }
    .THIS .slds-tabs_default__nav li:last-child{
        display: none!important;
    }   
    .THIS #none__item{
        display: none!important;
    }
    .THIS .caption-subtitle {
        font-size: 30px;
    }
    .THIS .caption-title {
        font-size: 16px;
    }
    .THIS .slds-dropdown-trigger , .THIS .slds-dropdown-trigger:focus{
        width: 100%;
        text-align: center;
        float: right;
        background: #000;
        box-shadow: none;
    }
    .THIS .slds-tabs_scoped__overflow-button .slds-button{
        background: #000;
        color: #fff;
        height: 30px;
        border-radius: 0px;
    }
    
}