/*@font-face {
font-family: 'Cronos';
src: url(/resource/ETI_Cronos); 
}
.THIS {
font-family: 'Cronos';
letter-spacing: .5px;
}*/
.THIS label span{
    color: #b8b8b8 !important;
}
.THIS.paymenttable{
    border: 0px solid rgb(212, 212, 212);
    background:#f1f1f1;
    margin-top: -30px;
    border-radius: 0;
    padding: 1rem;
    width: 100%;
    clear: both;
    position: relative;
}
.THIS .contentheading{
    color: #000;
    font-size: 3rem;
    /*font-family: 'Cronos';*/
    text-shadow: 1px 1px 2px #f2f2f2;
    text-align: center;
    margin-bottom: 15px;
}
.THIS .paymentsection{
    position: relative;
    display: block;
    width: 80%;
    margin:auto;
    text-align: center;
}
.THIS .divpayment {
    padding: 15px;
    margin-right: 1%;
    margin-bottom: 1%;
    background: rgba(255, 255, 255, 0.9)!important;
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    text-align:center;
    /*font-family: 'Cronos';*/transition: all .4s;
    width:24%;display:inline-block;
    cursor: default!important;
}
.THIS .divpayment:hover{
    border-radius: 0;
    box-shadow: 0 8px 6px -6px #9e9e9e;
}
.THIS .paymentbgimg{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 15%;
    opacity: .01;
}
.THIS .successpay{
    position: relative;
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.THIS .successdiv{
    font-size: 15px;
    line-height: 1.5rem;
    height: 50px;
    word-break: break-word;
}
.THIS .datailsdiv{
    width: 100%;
    text-align: center;    padding: 5px 0px 0px;
    font-size: 14px;
    color:#000;
}
.THIS .paymentamount{
    font-size: 30px;
    color: #00a861;
    font-weight: 700;
    letter-spacing: .5px;
}
.THIS .norecorddiv{
    position: relative;
    height: 215px;
    /*background: url(/resource/ETST_no_row_found);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}
/*.THIS .norecorddiv:before{
background-color: rgba(0, 0, 0, 0.6);
content: '';
left: 0;
top: 0;
display: block;
height: 100%;
position: absolute;
width: 100%;
}*/
.THIS .norecorddiv .norecord{
    color: #333;
    font-size: 1.5rem;
    /* font-family: 'Cronos';
    text-shadow: 1px 1px 2px #f2f2f2; */
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.THIS .norecordhead{
    font-size: 1.8rem;
    /*font-family: 'Cronos';
    letter-spacing: 1px;*/
    text-shadow: 1px 1px 2px #f2f2f2;
    position: relative;
    margin-bottom: 10px;
    text-align: left;
}
.THIS .norecordhead:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    left: 0;
    top: -3px;
    background: #00904a;
}
.THIS .linkpad{
    padding: 15px;
}
.THIS .headingChassis{
    color: #ff4b5a;
}
.THIS.paymenttable{
    border: 0px solid rgb(212, 212, 212);
    background:#f1f1f1;
    margin-top: -30px;
    border-radius: 0;
    padding: 1rem;
    width: 100%;
    clear: both;
    position: relative;
}
.THIS .contentheading{
    color: #000;
    font-size: 3rem;
    /*font-family: 'Cronos';*/
    text-shadow: 1px 1px 2px #f2f2f2;
    text-align: center;
    margin-bottom: 15px;
}
.THIS .paymentsection{
    position: relative;
    display: block;
    width: 80%;
    margin:auto;
    text-align: center;
}

.THIS .paymentbgimg{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 15%;
    opacity: .01;
}
.THIS .successpay{
    position: relative;
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.THIS .paymentamount{
    font-size: 30px;
    color: #00a861;
    font-weight: 700;
    letter-spacing: .5px;
}
.THIS .norecorddiv{
    position: relative;
    height: 215px;
    /*background: url(/resource/ETST_no_row_found);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}
/*.THIS .norecorddiv:before{
background-color: rgba(0, 0, 0, 0.6);
content: '';
left: 0;
top: 0;
display: block;
height: 100%;
position: absolute;
width: 100%;
}*/
.THIS .norecorddiv .norecord{
    color: #333;
    font-size: 1.5rem;
    /*font-family: 'Cronos';
    text-shadow: 1px 1px 2px #f2f2f2; */
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.THIS .norecordhead{
    font-size: 1.8rem;
    /*font-family: 'Cronos';
    letter-spacing: 1px;*/
    text-shadow: 1px 1px 2px #f2f2f2;
    position: relative;
    margin-bottom: 10px;
    text-align: left;
}
.THIS .norecordhead:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    left: 0;
    top: -3px;
    background: #00904a;
}
.THIS .linkpad{
    padding: 15px;
}
.THIS .headingChassis{
    color: #ff4b5a;
}
.THIS input[type="text"]{
    height: 38px;
    margin: 0;
    padding: 0 .5rem 0 .5rem;
    vertical-align: middle;
    /*font-family: 'Cronos';*/
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    color: #888;
    border-radius: 4px;
    box-shadow: none!important;
    transition: all .3s;
    background: rgba(255, 255, 255, 0.2)!important;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);
}
.THIS .slds-button_icon {
    background: #b7b7b7;
    border: #b7b7b7;
}
.THIS .slds-form-element__label {
    font-weight: bold;
    color: #fff;
    font-size:14px;
}
.THIS .slds-p-around_small, .THIS .slds-p-around--small {
    padding: .75rem .75rem .75rem .0rem;
}
.THIS .btn_table {
    font-size: 14px;
    margin-left: 10px;
    border: 0 solid #00c19e;
    color: #fff;
    padding: 0 10px;
    min-width: 100px;
    height: 30px;
    background-color: #ff4b5a;
    border-radius: 0px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
}
.THIS .btn_table:hover {
    background-color: #333333;
}
.THIS .btnsubmitdiv{
    vertical-align: top;
    padding: 40px 0px 0px;
}
.THIS .mydisctext{
    height: 47px;
    overflow: auto;
}
.THIS .btn_back {
    font-size: 14px;
    margin-left: 10px;
    border: 0 solid #00c19e;
    min-width:80px;
    color: #fff;
    padding: 7px;
    height: 30px;
    background-color: #b0b1af;
    border-radius: 0px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
}
.THIS .btn_back:hover {
    background-color: #333333;
}
.THIS .infoDetail{
    background: #A5D6A7;
    color: #0b0219;
    padding: 5px;
    display: inline-block;
}
@media only screen and (max-width: 1024px) {
    .THIS .paymentsection {
        width: 100%;
    }
    .THIS .divpayment {
        width: 31%;
        margin: 1%;
    }
}
@media only screen and (max-width: 768px) {
    .THIS .divpayment {
        width: 48%!important;
        margin: 1%;
    }
    .THIS .norecorddiv {
        height: 100px;
    }
    .THIS .norecorddiv .norecord {
        font-size: 2rem;
    }
    .THIS .contentheading {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 767px) {
    .THIS .divpayment {
        width: 48%!important;
        margin: 1%;
    }
    .THIS .norecorddiv {
        height: 100px;
    }
    .THIS .norecorddiv .norecord {
        font-size: 1.5rem;
    }
    .THIS .contentheading {
        font-size: 1.5rem;
    }
    .THIS .btn_back , .THIS .btn_table{    
        min-width: auto!important;
    }
}
@media only screen and (max-width: 600px){
    .THIS .divpayment {
        width: 98%!important;
        margin: 1%;
    }    
    .THIS .btnsubmitdiv .btn_table{
        margin-left: 0px;
    }
    .THIS .btn_back , .THIS .btn_table{    
        min-width: auto!important;
    }
}
@media only screen and (max-width: 480px) {
    .THIS .divpayment {
        width: 98%!important;
        margin: 1%;
    }
    .THIS .norecorddiv {
        height: 100px;
    }
    .THIS .norecorddiv .norecord {
        font-size: 1.5rem;
    }
    .THIS .contentheading {
        font-size: 1.5rem;
    }
    .THIS.slds-grid {
        display: block!important;
    }
    .THIS .slds-p-around_small, .THIS .slds-p-around--small {
        padding: 0px;
        width: 100%;
    }
    .THIS .btnsubmitdiv {
        padding: 10px 0 10px 0px;
    }
    .THIS .btnsubmitdiv {
        vertical-align: top;
        width: 100%;
    }
    .THIS .btn_back , .THIS .btn_table{    
        min-width: 100px!important;
    }
}