.vRTSForm{
    border-style: solid;
    /* padding-right: 150px;
    padding-left: 150px;
    border-bottom:2px solid rgb(117, 103, 243);
    border-bottom-width: 25px; */
    }
    .vRTSForm p{
    font-size: 12px;
    font-weight: 600;
    }
    h3.formHeader{
        FONT-FAMILY: MONOSPACE;
        COLOR: WHITE;
        font-size: 1.5rem;;
        background-color: rgb(117, 103, 243);
    }
    .custom-box {
        background-color: rgb(117, 103, 243);
        font-size: 16px;
        COLOR: WHITE;
    }
    .slds-col {
        padding: 15px;
    }
    .dataSection label{
    width: 240px;
    display: inline-block; 
    vertical-align: top;
    font-size: 15px;
    font-weight: 1000;
}
.dataSection div{
    display: inline-block;
}
.VRTS_ET{
    width: 25%;
    padding: 25px;
}
.SCHOOLBUSHeader{
    font-size: 2.0rem;;
}
.Start-button{
    width: 100%;
    padding: 40px;
    padding-left: 290px;
    padding-right: 290px;
}
.custom-Start{
    background-color: rgb(117, 103, 243);
    font-size: 27px;
    COLOR: WHITE;
}
.CTRSPageHeader{
    font-size: 1.0rem;;
}
.PaddingClass{
    padding-bottom: 20px;
}
.CTRSPageNote{
    COLOR: RED;
    BORDER: SOLID;
    BORDER-COLOR: BLACK;
    HEIGHT: 130PX;
    FONT-SIZE: MEDIUM;
}