.THIS {
}

.THIS .slds-card{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10) !important;
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: 4px !important;
}

.THIS .slds-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10) !important;
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: 4px !important;
}
.THIS .slds-scope, .THIS .slds-card__footer {
    margin-top: -1.25rem;
}
.THIS .slds-card__footer {
    padding: 0;
}
.THIS .slds-scope, .THIS .slds-card {
    border: 1px solid;
    border-radius: 8px;
}
.THIS .slds-scope, .THIS .slds-p-left_medium{
    padding-right: 4rem;
}
.THIS .slds-form-element__label{
    float: left;
    font-weight: 400;
    font-size: 13px;
}
.THIS .iconClass{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.THIS .slds-card__header-title{
    display: contents;
}
.THIS .dataDisplayClass{
    font-weight: 500;
    float:left;
    color: #000;
}
.THIS .oppHeaderDiv{
    padding:0px;
}

.THIS #accDiv{

}
.THIS .detailTabClass{
    margin: 15px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10) !important;
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: 4px !important;
}
.THIS .slds-card .slds-col {
    width: 25%;
    display: inline-block; 
    margin: 0%;
    background: #fff;
    border-radius: 0px;
    padding: 0rem .5rem .5rem;
    box-shadow:none;
    position:relative;
}
.THIS .slds-form-element__label {
    float: left;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    color: #000;
}
.THIS .dataDisplayClass {
    font-weight: 500;
    float: left;
    color: #000;
    position: relative;
    clear: both;
    padding-top: 2rem;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.THIS .slds-form-element__static{
    color:#555;
}
.THIS .subheading_div {
    position: relative;
    display: grid;
    font-size: 14px;
    z-index: 1;
}
.THIS article.slds-card {
    padding: 0px!important;
}
.THIS .slds-card__header.slds-grid {
    padding: 1rem 1rem;
    background: #f3f2f2;
}
.THIS span.slds-form-element__label {
    position: absolute;
    top: 0;
    left: 10px;
}
.THIS .mainClass a {
    pointer-events: none;
    color: #555;
}
.THIS .btn_close , .THIS .btn_close{
    background: #fff;
    border: 1px solid rgb(98 204 140);
    color:rgb(98 204 140);
    border-radius: 0px;
    box-shadow: none;
    text-transform: uppercase;
    transition: all 0.4s;
}
.THIS .btn_close:hover , .THIS .btn_close:hover{
    background: rgb(98 204 140);
    border: 1px solid rgb(98 204 140);
    color:#fff;
}
/*
.THIS .slds-gutters_small {
    margin: 0;
    display: inline-block;
    width: 50%;
    float: left;
}
.THIS div#accDiv {
    position: relative;
    display: inline-block;
} */